.board-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.App {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-container {
  margin: 20px;
  width: 300px;
  background-color: aliceblue;
}
